<h1>Your Text Analysis</h1>

<h2>Number of Words: <% @number = @analyzed_text.count_of_words %><%= @number %></h2>

<h2>Vowels: <% @vowels = @analyzed_text.count_of_vowels %><%= @vowels %></h2>

<h2>Consonants: <% @consonants = @analyzed_text.count_of_consonants %><%= @consonants %></h2>

<h2>Most Common Letter: _____ used _____ times</h2>
